@media (min-width: 1200px) {
    nav.nav-mobile {
        display: none;
    }
    button.burger-btn {
        display: none;
    }
}

@media (max-width: 1200px) {
    nav.nav {
        display: none;
    }
    
}