@media (min-width: 1200px) {
    .nav-mobile {
        display: none;
    }
    .nav-mobile__logo {
        display: none;
    }
    .burger-btn {
        display: none;
    }

    .nav {
        &__item {
            font-size: 1.8rem;
        }
    }
}

@media (max-width: 1200px) {
    nav.nav {
        display: none;
    }
    
}